
<h3>Welcome,<%= @student.name %></h3>

<div>
  <h4><%= course.name</h4>
</div>

<div>
  <ul>
      <li><%= image_tag(@user.avatar_url)  %></li>
      <li><%= @user.email %></li>
      <li><%= @user.phone %></li>
      <li><%= @attendance.status %></li>
  </ul>
</div>
