<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<!-- <p>
  <strong>Password digest:</strong>
  <%= @student.password_digest %>
</p> -->

<p>
  <strong>Image:</strong>
  <%= @student.image %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Type:</strong>
  <%= @student.type %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
