<div class="courseDivider"><p> <%= @course.name %> </p></div>

<div class="studentOverview">
  
  
  <%= image_tag(avatar_url(@student), size: "78", class:"gravatar") %>  <!-- gravatar -->
  <p><%= @student.name %></p>

  <!-- if the student has a danger count of 3 or me tell them to contact -->

  <table>
    <thead>
      <tr>
        <th>DATE</th>
        <th>STATUS</th>
      </tr>
    </thead>


    <tbody>

      <% @student_attendance.each do |a| %>
        <tr>
          <td><%= a.date %></td> 
          <td><%= a.status %></td>  
        </tr>
      <% end %>

    </tbody>
  </table>
    <% if @danger_count >= 3 %>
    <div class"contactButton">
      <button class="push"> Please Contact Producer</button>
    </div>
  <% end %>
</div>