<h1>Text Form</h1>

<% if user.type == "Producer" %>
<%=form_tag("/producer/#{user[:id]}/texty", method: "post") do %>
	<%= label_tag "Phone Number"%>
	<%=text_field_tag :phone_num , @user.phone%>
	<%=label_tag "Message"%>
	<%=text_area_tag :body, @user.first_name + ", You have reach a total of " +@danger_student_ids.to_s+ " absences please contact your producer as soon as possible"%>
	<%=submit_tag "Send Text"%>
<%end%>