<h1><%= @course.name %> OVERVIEW</h1>

<div class="courseDivider">
  <a href="/courses/<%= @course.id %>/">Back</a>
  <p> <%= @course.name %> : OVERVIEW</p>
</div>


<div class="courseOverview">
	
	<div class="status-list">
    
    	<div class="status-list-header">
			<div>NAME</div>
			<div>DATE</div>
			<div>STATUS</div>
		</div>
		
   		<div class="status-list-body">
			<% @lateStudents.each do |lateStudent| %>
				<div class="status-list-item">
					<div class="name"><%= lateStudent.name %></div>
					<div class ="date"><%= lateStudent.date %></div>
					<div class ="status"><%= lateStudent.status %></div>
				</div>
			<%end%>
		</div>
	</div>
</div>