<h1></h1>

<div class="subheader">
  <h2><%= @course.name %></h2>
  <button>OVERVIEW</button>
  <button>BACK</button>
</div>

<div class="datenav">
  <form action="/courses/<%= @course.id %>">
  <input type="hidden" name="date_offset" value="<%= @prevButtonVal %>">
  <input type="submit" value="PREVIOUS">
  </form>
  <span class="date"><%= @date %></span>
  <form action="/courses/<%= @course.id %>">
  <input type="hidden" name="date_offset" value="<%= @nextButtonVal %>">
  <input type="submit" value="NEXT">
  </form>
</div>


<form action="/attendances/edit"></form>
  <table>
    <thead>
      <td>NAME</td>
      <td>STATUS</td>
    </thead>
    <tbody>
      <% @students.each do | student | %>
        <tr>
        <% # puts( student.attendance.status )%>
          <td><%= student.name %></td>
          <td>
            <select name="status">
              <!-- < % = if ( student.attendance.status == "present" ) then print("selected") end % >-->
              <option value="present">PRESENT</option>
              <option value="late">LATE</option>
              <option value="excused">EXCUSED</option>
              <option value="unexcused">UNEXCUSED</option>
            </select>

          </td>
        <tr>
      <% end %>
    </tbody>
  </table>
  <input type="submit" value="SUBMIT ATTENDANCE" >
</form>

