<div class="courseDivider">
  <a href="/courses/<%= @course.id %>/overview">Overview</a>
  <a href="/courses/">Back</a>
  <p> <%= @course.name %> </p>
</div>

<div class="attendanceOverview">
  <div class="datenav clearfix">
    <a href="/courses/<%= @course.id %>/?date_offset=<%= @prevButtonVal %>" class="arrow-left"></a>
    <span class="date"><%= @date %></span>
    <a href="/courses/<%= @course.id %>/?date_offset=<%= @nextButtonVal %>" class="arrow-right"></a>
  </div>

  <!-- added method and changed to courses route -->
    
    <div class="status-list">

      <div class="status-list-header">
        <div>NAME</div>
        <div>STATUS</div>
      </div>

      <div class="status-list-body">
        <% @students.each_with_index do | student, index | %>
          <div class="status-list-item">
            <form action="/courses" method="POST">

              <div class="name"><a href="/students/<%= student.id%>" title=""><%= student.name %></a></div>
              
              <div class="statusSubmit">
                <input type="hidden" name="user_id" value="<%= student.id %>">
                <input type="hidden" name="course_id" value="<%= @course.id %>">
                <input type="hidden" name="date" value="<%= @date %>">

                <select name="status">
                  <option value="present" >PRESENT</option>
                  <option value="late" >LATE</option>
                  <option value="excused" >EXCUSED</option>
                  <option value="unexcused" >UNEXCUSED</option>
                </select>
                <input class="push" type="submit" value="SUBMIT" >
              </div>
            </form>
          </div>
        <% end %>
      </div>
    </div>
</div>