<!DOCTYPE html>
<html>
<head>
  <title>AttendanceManagment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header clearfix">
     <a href="/" class="logo">
     	<img src="/assets/ga_am_logo.svg" alt="">
     </a>
	<!-- show greeting and logout button if user is logged in -->
	<!-- look in the session to see if there is a 'current_user' -->
	<% if session['current_user'] %>
		<!-- get the user name from the current_user in the session -->
		<form action="/logout" method="POST" class="logoutForm">
			<input  type="submit" value="Log Out">
		</form>
	<% end %>
</div>
<div class="greeting">
	<% if session['current_user'] %>
		<!-- get the user name from the current_user in the session -->
			<span>Welcome, <%= session['current_user']['name'] %></span>
	<% end %>
</div>

<%= yield %>
<footer class="footer">
<p>&copy;Attendance Management 2016.</p>
</footer>

</body>
</html>
